
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all property images
    match /properties/{allPaths=**} {
      allow read: if true;
    }

    // Allow authenticated users to write only to their own folder within 'properties'
    match /properties/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow public read access for all profile pictures
    match /profile-pictures/{allPaths=**} {
        allow read: if true;
    }

    // Allow authenticated users to write to their own profile picture folder
    match /profile-pictures/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
