@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222 22% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 22% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 22% 11%;
    --primary: 207 82% 69%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 90%;
    --muted-foreground: 215 6% 47%;
    --accent: 207 82% 69%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 207 82% 69%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 82% 69%;
    --primary-foreground: 0 0% 9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 215 6% 47%;
    --accent: 207 82% 69%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 207 82% 69%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    line-height: 1.6;
  }
  h1 {
    @apply font-bold text-4xl sm:text-5xl md:text-6xl tracking-[-0.025em] text-[hsl(var(--foreground))];
  }

  h2 {
     @apply font-semibold text-3xl sm:text-4xl text-[hsl(var(--foreground))];
  }

  h3 {
    @apply font-semibold text-2xl text-[hsl(var(--foreground))];
  }
}
